/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: snow;
}

table {
    width: 100%;
}

.mat-paginator {
    /* margin-top: 17.5px;; */
    background-color: transparent;
}

.mat-card {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.mat-card-title {
    margin-bottom: 18px !important;
    margin-top: 2px !important;
    float: left;
}

.button-right {
    float: right;
    margin-top: -6px;
}

.warningDiv {
    font-size: 14px;
    margin-top: -6px !important;
}

.warningDiv>div {
    border: thin gold solid;
    background-color: #fbe1a0;
    border-radius: 4px;
    margin-bottom: 14px !important;
    padding-bottom: 8px;
    color: #423811;
}

.warningDiv>div>mat-icon {
    transform: translate(0, 6px) scale(0.85);
    color: #ffad33;
    padding-left: 5px
}